header {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  justify-content: space-around;
}

.all_specific_content {
  color: #7edf7e;
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  text-shadow: #7edf7e 1px 0 10px;
}

.styling_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.focus_details, .associates_container {
  border-radius: 29px;
  border: 2px solid #7edf7e;
  box-shadow: 10px 10px 29px 2px rgba(126,223,126,0.41);
  height: 75vh;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.associates_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
}

.associates_styling {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.associate_title {
  font-size: 3rem;
  margin: 10px 0 30px 0;
}

.associate {
  border-radius: 29px;
  border: 2px solid #7edf7e;
  height: 60vh;
  width: 30%;
}

.grow:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.associate_img {
  border-radius: 29px;
  border: 2px solid #7edf7e;
  margin-top: 20px;
  width: 80%;
}

.link_back, a {
  color: #7edf7e;
  text-decoration: none;
}

.button {
  border-radius: 10px;
  border: 2px solid #7edf7e;
  margin: 30px;
  padding: 5px;
  text-align: center;
}

.outer-database {
  animation: blinker 1s linear infinite;
  font-size: 1.5rem;
}

.grey {
  filter: grayscale(100%);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}