.type_container {
  color: #7edf7e;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  margin: 0 auto;
  padding-top: 40px;
  text-shadow: #7edf7e 1px 0 10px;
  width: 80%;
}

.proceed-link {
  animation: blinker 1s linear infinite;
  color: #7edf7e;
  text-decoration: none;
}

.type_header {
  display: flex;
  justify-content: flex-end;
}

.skip_intro {
  color: #7edf7e;
  font-family: 'VT323', monospace;
  font-size: 1rem;
  margin-right: 50px;
  opacity: 0.3;
  text-shadow: #7edf7e 1px 0 10px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}